* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  direction: rtl;
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
  background-image: linear-gradient(120deg, black, black, #2e2b34, #0c0c0c);
}

body #background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body .bg {
  height: 40vh;
  width: 100%;
  position: relative;
}

body .bg .koteret {
  max-width: 500px;
  font-size: 20px;
  font-weight: 200;
  padding: 0 10px;
  position: absolute;
  margin: 0 auto;
  top: 32%;
  right: 0px;
  left: 0px;
  color: white;
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
}

body .bg .vr {
  width: 200px;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  margin: 0 auto;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%, 48%);
          transform: translate(-50%, 48%);
  text-decoration: none;
  color: white;
  margin: auto;
  border: white solid 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 9px;
}

body .bg .vr:hover {
  background-color: #242424;
  color: white;
}

body .bg .vr .txt1 {
  font-size: 20px;
}

body .box1 {
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  padding: 20px;
}

body .box1 .dis {
  display: none;
}

body .box1 .logo {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .box1 .logo img {
  width: 150px;
}

body .box1 .logo:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

body .box1 .login {
  margin-top: 5px;
  font-size: 20px;
  height: 20px;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .box1 .login:hover {
  color: #5980ff;
}

body .box1 .login img {
  width: 20px;
}

body .box1 .menu {
  position: relative;
  height: 39px;
}

body .box1 .menu .nav .x {
  padding: 20px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  top: 0px;
  left: 0px;
  position: absolute;
  border: black solid 2px;
  border-radius: 2px;
  width: 150px;
  height: 350px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background-color: rgba(255, 255, 255, 0.7);
}

body .box1 .menu .nav .x a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0px 15px;
  color: black;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
}

body .box1 .menu .nav .x a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: black;
  color: #e9e9e9;
}

body .box1 .menu img {
  width: 30px;
  margin-top: 5px;
}

body .box1 .menu:hover .x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .piska {
  padding: 40px 40px;
  font-size: 20px;
  color: #ffffff;
}

body .piska .break {
  display: block;
}

body .box2 {
  height: 32vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .box2 .b {
  color: #ffffff;
  position: relative;
  width: 200px;
  border-radius: 2px;
  margin: 20px;
  margin: 20px auto;
  padding: 30px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  border: #9d9d9d solid 1px;
  font-size: 25px;
}

body .box2 .b:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  background-color: black;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .box3 {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

body .box3 .foot {
  text-decoration: none;
  color: white;
}

body .box3 .foot .icons {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .box3 .foot .icons img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10px;
  width: 40px;
}

body .box3 .foot .icons img:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 600px) {
  body #background-video {
    height: 59vh;
    position: absolute;
  }
  body .bg {
    height: 42vh;
  }
  body .bg .koteret {
    min-width: 300px;
    max-width: 700px;
    top: 33%;
    font-size: 29px;
    padding: 0 30px;
  }
  body .bg .vr {
    top: 64%;
  }
  body .piska {
    min-width: 300px;
    max-width: 700px;
    top: 37%;
    font-size: 22px;
    padding: 20px 30px;
    margin: 0 auto;
  }
  body .box1 {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .box1 .login {
    display: none;
  }
  body .box1 .dis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .box1 .menu {
    display: none;
  }
  body .box3 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-top: 40px;
  }
  body .box3 .foot {
    font-size: 20px;
    margin: 0 15px;
  }
  body .box3 .foot .icons {
    width: 300px;
  }
  body .box3 .foot img {
    width: 50px;
  }
  body .box2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .box2 .b {
    margin: 10px;
    min-width: 270px;
    max-width: 290px;
  }
}
/*# sourceMappingURL=design.css.map */