@import '../vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #f2faff;
    direction: rtl;
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), black, rgb(46, 43, 52), rgb(12, 12, 12));


    .box1 {
        width: 100%;
        padding-top: 10px;
        // border: black solid 2px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        position: fixed;
        z-index: 10;
        padding: 20px;

        .dis {
            display: none;
        }

        .logo {
            transition: all 0.3s;

            img {
                width: 150px;
            }

            &:hover {
                transform: translateY(-3px);
            }

        }

        .login {
            margin-top: 5px;
            font-size: 20px;
            height: 20px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: all 0.5s;

            img {
                width: 30px;
            }

            &:hover {
                color: rgb(89, 128, 255);
            }
        }

        .menu {
            position: relative;
            height: 39px;

            .nav {
                .x {
                    padding: 20px 0;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    top: 0px;
                    left: 0px;
                    position: absolute;
                    border: black solid 2px;
                    border-radius: 2px;
                    width: 150px;
                    height: 350px;
                    transition: all 0.7s;
                    background-color: rgba(255, 255, 255, 0.7);


                    a {
                        text-decoration: none;
                        color: black;
                        transition: all 0.5s;
                        margin: 0px 15px;
                        color: $mainColor2;
                        border-radius: 2px;
                        padding: 10px;
                        font-size: 20px;

                        &:hover {
                            transform: translateY(-5px);
                            background-color: rgb(0, 0, 0);
                            color: $mainColor;
                        }
                    }

                }

            }

            img {
                width: 30px;
                margin-top: 5px;
            }

            &:hover .x {
                display: flex;

            }
        }
    }

    main {
        padding-top: 100px;
        font-size: 20px;

        .bg {
            color: white;
            background-image: linear-gradient(120deg, rgb(0, 0, 0), black, rgb(46, 43, 52), rgb(12, 12, 12));
            border-radius: 2px;
            margin: 0 auto;
            padding: 25px 0;
            width: 280px;
            border: solid 1px white;


            #write {
                width: 200px;
                margin: 10px auto;
                padding: 10px;
                font-size: 20px;
                border-radius: 3px;
                border: 1px solid black;
                border: none;
            }

            .txt1 {
                width: 250px;
                margin: 0 auto;
            }

            #gender {
                padding: 10px;
                font-size: 20px;
                border-radius: 3px;
                border: none;
            }

            .txt {
                margin-top: 20px;
                text-align: right;
                padding-right: 28px;
                border: none;
            }

            #area {
                display: block;
                width: 200px;
                margin: 10px auto;
                padding: 10px;
                font-size: 20px;
                border-radius: 3px;
                border: 1px solid black;
                border: none;
            }

            #room {
                display: block;
                margin: 10px auto;
                border-radius: 3px;
                border: 1px solid black;
                padding: 10px;
                font-size: 20px;
                width: 200px;
                border: none;
            }

            #infoTxt {
                font-size: 20px;
                width: 200px;
                border-radius: 3px;
                height: 50px;
                border: 1px solid black;
                border: none;
            }

            #check {
                display: block;
                border-radius: 3px;
                border: 1px solid black;
                margin: 25px auto 10px;
                width: 200px;
                height: 40px;
                font-size: 20px;
                border: none;
            }
        }

    }

    .box3 {
        margin-top: 30px;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        // background-color: rgb(182, 182, 182);

        .foot {
            text-decoration: none;
            color: rgb(255, 255, 255);

            .icons {
                width: 150px;
                display: flex;
                justify-content: space-evenly;

                img {
                    transition: all 0.2s;
                    border-radius: 10px;
                    width: 40px;

                    &:hover {
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }

    @media screen and (min-width : 600px) {

        .box1 {
            justify-content: space-evenly;
            align-items: center;
            // background-color: rgb(182, 182, 182);

            .dis {
                display: flex;
            }

            .menu {
                display: none;
            }

            .right {
                display: none;
            }
        }

        main {
            .bg {
                width: 400px;

                .txt {
                    padding-right: 50px;
                }

                #write {
                    width: 300px;
                }

                #room {
                    width: 300px;
                }

                #area {
                    width: 300px;
                }
            }
        }

        .box3 {
            justify-content: left;
            align-items: center;

            .foot {
                font-size: 20px;
                margin: 0 15px;

                .icons {
                    width: 300px;
                }

                img {
                    width: 50px;
                }
            }
        }
    }
}
